body {
    font-family: sans-serif;
    color: black !important;
}

.visa_type {
    padding: 3px !important;
    display: inline;
    color: black !important;
}

.line_height {
    line-height: 20px;
}

th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px !important;
}

label {
    color: black !important;
}

p {
    color: black !important;
}

b {
    color: black !important;
}
